<!-- row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5  -->
<footer class="container-fluid text-info">
    <div class="container pt-3">
        <div class="container row text-center">
            <div class="col-6 col-lg-3 p-0">
                <div class="border-right-1">
                    <h5>Quick Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="/#/home" class="nav-link p-0 text-white">Home</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/#/pages/politics" class="nav-link p-0 text-white">Politics</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/#/pages/eco" class="nav-link p-0 text-white">Economy</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/#/pages/buss" class="nav-link p-0 text-white">Business</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/#/pages/sports" class="nav-link p-0 text-white">Sports</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="border-right-1 ">
                    <h5>Quick Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="/#/pages/health" class="nav-link p-0 text-white">Health</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/#/pages/fashion" class="nav-link p-0 text-white">Fashion</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/#/pages/tech" class="nav-link p-0 text-white">Technology</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="/#/pages/entertain" class="nav-link p-0 text-white">Entertainment</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3 pl-5">
                <h5>About Us</h5>
                <p class="text-justify text-white">NewsApp.com <i>WANTS TO BE SIMPLE APP </i> is an initiative to
                    help people to know all news whole world. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Aut porro nobis ab, itaque ex odio excepturi sit commodi perspiciatis quibusdam laboriosam
                    nulla laudantium totam amet doloremque veritatis dicta numquam qui? Lorem, ipsum dolor sit amet
                    consectetur adipisicing elit. Excepturi, vel. </p>
            </div>
        </div>
    </div>
    <div class="col-12 text-center border-top-1 pt-3 pb-1">
        <p class="text-white">Copyright &copy; 2023, All Right Reserved By <a href="https://ntgclarity.com/"
                target="_blank" class="link-info text-decoration-none font-bold">NTG
                Clarity</a>.</p>
    </div>
</footer>