<div class="bg-white px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">Pricing Plans</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Velit numquam eligendi quos.</div>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="p-3 h-full  text-center">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                        <p class="mb-2 fw-bold text-uppercase text-3xl">Basic</p>
                        <p class="text-600 ">Plan description</p>
                        <hr class="my-3 mx-0 border-top-3 border-none surface-border" />
                        <div class="text-center">
                            <p class="font-bold text-2xl text-900  mb-0">Free</p>
                            <p class="font-bold text-600 line-through">$9/month</p>
                        </div>
                        <hr class="my-3 mx-0 border-top-3 border-none surface-border" />
                        <ul class="list-none p-0 m-0 flex-grow-1">
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span class="text-900">Arcu vitae elementum</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span class="text-900">Dui faucibus in ornare</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span class="text-900">Morbi tincidunt augue</span>
                            </li>
                        </ul>
                        <hr class="mb-3 mx-0 border-top-3 border-none surface-border mt-auto" />
                        <a href="/#/auth/signup/user" class="btn btn-primary">Subscribe Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 text-center">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                        <p class="mb-2 fw-bold text-uppercase text-3xl">Premium</p>
                        <div class="text-600">Plan description</div>
                        <hr class="my-3 mx-0 border-top-3 border-none surface-border" />
                        <div class="align-items-center">
                            <p class="font-bold text-2xl text-900 mb-0">€4/month for 1 year</p>
                            <p class="font-bold text-600 line-through">$29/month</p>
                        </div>
                        <hr class="my-3 mx-0 border-top-3 border-none surface-border" />
                        <ul class="list-none p-0 m-0 flex-grow-1">
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span class="text-900">Add Articles in website</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span class="text-900">Dui faucibus in ornare</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span class="text-900">Morbi tincidunt augue</span>
                            </li>
                            <li class="flex align-items-center mb-3">
                                <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                <span class="text-900">Duis ultricies lacus sed</span>
                            </li>
                        </ul>
                        <hr class="mb-3 mx-0 border-top-3 border-none surface-border" />
                        <a href="/#/auth/signup/journalist" class="btn btn-primary">Subscribe
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>